# Requirements for Predictive Maintenance notebook
pandas
numpy
scikit-learn
matplotlib
seaborn
jupyterlab
notebook
scipy
joblib
SHAP
shap
imbalanced-learn
# Optional: add 'xgboost' or 'lightgbm' if using gradient boosting models
